:root {
    --palette-icon: #ef8172;
    --palette-paragraph-text: #8f8f8f;
    --palette-main-background: #ff4c68;
    --palette-white: #fff;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    /* all text on page to this font */
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-Bold', sans-serif;
}

p {
    color: var(--palette-paragraph-text);
}

/* Headings */
.big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Bootstrap fluid container */
.container-fluid {
    padding: 7% 15%;
}

/* Sections */
.colored-section {
    background-color: var(--palette-main-background);
    color: var(--palette-white);

    /* Gradient backgrounds using only CSS */
    /* background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; */
}

.white-section {
    background-color: var(--palette-white);

    /* Gradient backgrounds using only CSS */
    /* background: linear-gradient(300deg, #c7e6f1, #fff, #a7a3a2);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; */
}

.hoverable-icon {
    color: var(--palette-icon);
}

.hoverable-icon:hover {
    color: var(--palette-main-background);
}

/********** Title setion of website (nav bar, container (with text-with-buttons)), image *********/
/* Bootstrap Navigation Bar */
.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.25rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.title-banner {
    padding-top: 50px;
}

.title-download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 60%;
    transform: rotate(25deg);
    position: absolute;
    left: 100px;  */
}

/*********  Feature Section (3 bullet points in grid) *********/
#features {
    position: relative;
}

/* Bootstrap grid */
.feature-box {
    padding: 5%;
}

.font-awesome-icon {
    margin: 0 0 1.5rem 0;
}

/* refactor */
.feature-title {
    font-size: 1.5rem;
}

/*********  Testimonials Section (Carousel) *********/
.testimonials-images {
    width: 10%;
    border-radius: 100%;
    /* make a circle */
    margin: 20px;
}

/* refactor */
.testimonals-text {
    font-size: 3rem;
    line-height: 1.5;
}

/********* Press (Cred Section) **********/
#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px 20px;
}

/********* Pricing Section (Cards) **********/
#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/* refactor */
.price-text-header {
    font-size: 3rem;
    line-height: 1.5;
    /* spacing between lines (multiple, no units) */
}

/* refactor */
.breed-header {
    font-size: 1.5rem;
}

/********** Footer **********/
.social-media-icons {
    margin: 20px 10px;
}

/********** Media Queries **********/
@media only screen and (max-width: 992px) {
    .row {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 490px;
    }
}