// Variables
$palette-icon: #ef8172;
$palette-paragraph-text: #8f8f8f;
$palette-main-background: #ff4c68;
$palette-white: #fff;
$palette-black: #000;
$screen-size-laptop: 992px;

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-Bold', sans-serif;
}

p {
    color: $palette-paragraph-text;
}

// Multi - headings
.big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

// Multi - sections
.colored-section {
    background-color: $palette-main-background;
    color: $palette-white;
}

.white-section {
    background-color: $palette-white;
    color: $palette-black;
}

// Multi - Bootstrap fluid container
.container-fluid {
    padding: 7% 15%;
}

// Multi - features and footer
.hoverable-icon {
    color: $palette-icon;

    &:hover {
        color: $palette-main-background;
    }
}

// Bootstrap navbar
.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-size: 2.25rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}

// Title
#title {
    .container-fluid {
        padding: 3% 15% 7%;
        text-align: left;
    }
}

.title-banner {
    padding-top: 50px;
}

.title-download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: static;
    transform: rotate(0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 490px;
}

// Features
#features {
    position: relative;
}

.feature-box {
    padding: 5%;
}

.font-awesome-icon {
    margin: 0 0 1.5rem 0;
}

.feature-title {
    font-size: 1.5rem;
}

// Testimonials (carousel)
.testimonials-images {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonals-text {
    font-size: 3rem;
    line-height: 1.5;
}

// Press
#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px 20px;
}

// Pricing
#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text-header {
    font-size: 3rem;
    line-height: 1.5;
}

.price-breed-header {
    font-size: 1.5rem;
}

// Footer
.social-media-icons {
    margin: 20px 10px;
 
}

.social-box {
    a {
        text-decoration: none;
    }
}

// MQ
@media only screen and (max-width: $screen-size-laptop) {
    .row {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 490px;
    }
}